*{
    margin: 0;
    padding: 0;

}

header{
    max-width: 1512px;
    margin: auto;
}

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px;
    background-color: black;
}

#navbar>#logo>img{
    width: 90px;
    height: auto;

}

#navlinks{
    margin-right: 40px;
}

#navlinks>a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-left: 40px;
    transition: all 2s;
    font-size:  20px;

}
#navlinks>a:hover{
    color: yellow;
    transform: scale(20px);
    font-size: 30px;

}