html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;

}

header{
    max-width: 1512px;
    margin: auto;
}

#navbar{
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    align-items: center;
    padding:20px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#navbar>#logo>img{
    width: 90px;
    height: auto;

}

#navlinks{
    margin-right: 40px;
}

#navlinks>a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-left: 40px;
    transition: all 2s;
    font-size:  20px;

}
#navlinks>a:hover{
    color: rgb(242,189,41);
    transform: scale(20px);
    font-size: 30px;

}

header>video{
    max-width: 1512px;
    margin: auto;
    position: relative;
    top: 0;
    padding: 0px;
    
}