html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;

}

header{
    max-width: 1512px;
    margin: auto;
}

#navbar{
    width: 1512px ;
    height: ;
    display: flex;
    position: fixed;
    top: 0;
    justify-content: right;
    align-items: center;
    padding:20px;
    z-index: 1000;
}

#navbar>#logo>img{
    width: 90px;
    height: auto;
    border-radius: 50%;
}

#navbar>#logo{
    transition: all 3s;
}

#navbar>#logo:hover{
    transform: rotateZ(360deg);
    cursor: pointer;
}

#navlinks{
    margin: auto;
    display: flex;
    gap: 60px;
    max-width: 700px;

}

#navlinks>a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: all 2s;
    font-size:  20px;
   margin: auto;
}
#navlinks>a:hover{
    color: rgb(255, 255, 255);
    transform: scale(20px);
    font-size: 30px;
    background-color: black;
    border-radius: 8px; padding: 15px;

}

header>video{
    width: 1512px;
    height: 891px;
    margin: auto;
    position:relative ;
    margin-top: 0px;
    padding: 0px;
    z-index: -1000;
    top: 0;
    
}

header>#title{
    position: absolute;
    font-size: x-large;
    padding: 60px;
    border-radius: 8px;
    top: 150px;
    left: auto;
    width: 680px;
    color: rgb(0, 0, 0);
}

#bouncy{
    position: absolute;
    margin: 0;
    padding: 0;
    right: 710px;
    top: 780px;
    cursor: pointer;
    animation-name: bounce ;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    z-index: 10;
}

@keyframes bounce {

    0% {top: 755px;}
    50%{top:780px;}
    100%{top:755px;}

}

