html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;

}

header{
    top: 0;
    max-width: 1512px;
    margin: auto;
}

#navbar{
    width: 1512px ;
    height: 45px;
    display: flex;
    position: fixed;
    top: 0;
    justify-content: space-between;
    align-items: center;
    padding:20px;
    z-index: 1000;
    transition: all 0.5s;
    background-color: white;
}


#navbar>#logo>img{
    width: 90px;
    height: auto;
    border-radius: 50%;
}

#navbar>#logo{
    transition: all 3s;
}

#navbar>#logo:hover{
    transform: rotateZ(360deg);
    cursor: pointer;
}

#navlinks{
    margin: auto;
    height: 55px;
    display: flex;
    gap: 60px;
    width: 700px;
    justify-content: flex-start;

}

#navlinks>a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: all 0.2s;
    font-size: 20px;
    font-weight: bold;
    margin: auto;
}
#navlinks>a:hover{
    color: rgb(242,190,42);
    border-radius: 8px; padding: 15px;
}

#navlinks>a::after{
    content: " ";
    background-color: rgb(242,190,42);
    height: 2px;
    width: 0px;
    display: block;
    position: absolute;
    opacity: 0;
    transition: all 0.5s;
}

#navlinks>a:hover::after{
    opacity: 1;
    width: 55px;
}

header>video{
    width: 1512px;
    height: 891px;
    margin: auto;
    position:relative ;
    padding: 0px;
    z-index: -1000;
    top: 0;
    
}

header>#title{
    position: absolute;
    font-size: x-large;
    padding: 60px;
    border-radius: 8px;
    top: 200px;
    left: auto;
    width: 680px;
    color: rgb(0, 0, 0);
    background-color: rgba(256,256,256,0.5);
}

#bouncy{
    position: absolute;
    margin: 0;
    padding: 0;
    right: 710px;
    top: 780px;
    cursor: pointer;
    animation-name: bounce ;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    z-index: 10;
}

@keyframes bounce {

    0% {top: 755px;}
    50%{top:780px;}
    100%{top:755px;}

}

